*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background:linear-gradient(180deg,rgb(112, 12, 243),rgba(11, 13, 10, 0.874));
}